@media (max-width: $tablet) {
  .container > .columns {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.has-margin-bottom {
  margin-bottom: 1.5rem;
}

.list-item {
  line-height: 1.25;
}

.hide-border {
  border-color: transparent !important;
  border: 1px solid #d1d4d800 !important;
}

.tab-heading {
  font-size: 20px;
  font-weight: 600;
}

.hr-remove-margin {
  margin-top: 1.5rem !important;
  margin-bottom: 0rem !important;
}
